<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.romakononovich.notes">
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".activity.WidgetActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <activity android:name=".activity.LoginActivity"  android:noHistory="true"
            android:theme="@style/ToolbarWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddNoteActivity" android:noHistory="true"
            android:theme="@style/ToolbarWhite"/>
        <activity android:name=".activity.EditNoteActivity" android:noHistory="true"
            android:theme="@style/ToolbarWhite"/>
        <activity android:name=".activity.MainActivity"
            android:theme="@style/ToolbarWhite"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e3300be1c9ceb51cfe4b7f0041170d421e6660d5" />
    </application>

</manifest>